{% extends 'admin_base.html' %}

{% block content %}
    <div class="row page-title">
          <h2>
            CC'S BLOG
            <small>
              <li>Home</li>
              <li>/</li>
              <li>CC's Blog</li>
              <li>/</li>
              <li>Category</li>
            </small>
          </h2>
          <ul class="stats hidden-xs">
            <li class="ruby-red-bg">
              <div class="details">
                  <span class="big"><a href="{{ url_for('admin.cc_new_category') }}" style="color: white">创建类别&nbsp;&nbsp;</a></span>
{#                <span class="small">Current Sale</span>#}
              </div>
            </li>
          </ul>
    </div>
    <div class="row">
              <div class="col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      <span class="fs1" aria-hidden="true" style="color: black">类别列表</span>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="dt_example" class="example_alt_pagination">
                      <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                        <thead>
                          <tr>
                            <th style="width:10%">ID</th>
                            <th style="width:35%">名称</th>
                            <th style="width:20%" class="hidden-phone">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for category in categorys %}
                        <tr class="gradeX">
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td class="hidden-phone">
                              <a href="{{ url_for('admin.cc_edit_category', category_id=category.id) }}" class="actions-icons">
                                <img src="{{ url_for('static', filename = 'img/edit.jpg') }}" alt="edit" class="icons">
                              </a>
                              <a href="{{ url_for('admin.cc_delete_category', category_id=category.id) }}" onclick="return confirm('Are you sure?');">
                                <img src="{{ url_for('static', filename = 'img/delete.jpg') }}" alt="trash">
                              </a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
    </div>

{% endblock %}

