{% extends 'admin_base.html' %}


{% block content %}
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.title.label }}&emsp;{{ form.title() }}<br><br>
        {{ form.photo.label }}&emsp;{{ form.photo() }}<br>
        {{ form.body.label }}&emsp;{{ form.body() }}<br>
        {{ form.submit() }}
    </form>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    {{ ckeditor.config(name='body') }}
{% endblock %}